<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start @Class" @attributes="@ExtraAttributes">
    @ChildContent
    @if (!(string.IsNullOrEmpty(BrandTitle) && !UseBrandImage))
    {
        <span class="mdc-top-app-bar__title">
            @if (UseBrandImage)
            {
                <img src="@BrandImageSource" width="@BrandImageWidth" height="@BrandImageHeight" class="@(HideBrandImage ? "mdc-top-app-bar-hide" : string.Empty)" />
            }
            <span class="@(HideBrandTitle ? "mdc-top-app-bar-hide" : string.Empty)">@BrandTitle</span>
        </span>
    }
</section>